.PageContainer {
	overflow:hidden;
	background-color:#FFFFFF;
}

.s0 {
	white-space:pre;
	position:absolute;
	display:inline-block;
}
.s1 {
	border:0;
	margin:0;
	white-space:pre;
	position:absolute;
	display:block;
}
.trn_link {
	background-image:url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
	position:absolute;
}
.l0 { line-height:1; }
.fs4 { font-size:320px; }
.fs1 { font-size:448px; }
.fs6 { font-size:451px; }
.fs3 { font-size:576px; }
.fs7 { font-size:640px; }
.fs8 { font-size:704px; }
.fs5 { font-size:768px; }
.fs9 { font-size:832px; }
.fs0 { font-size:896px; }
.fs2 { font-size:1000px; }
.t14 {
	-webkit-transform:matrix(0.965929, -0.258808, 0.258808, 0.965929, 0.000000, 0.000000);
	-o-transform:matrix(0.965929, -0.258808, 0.258808, 0.965929, 0.000000, 0.000000);
	-ms-transform:matrix(0.965929, -0.258808, 0.258808, 0.965929, 0.000000, 0.000000);
	-moz-transform:matrix(0.965929, -0.258808, 0.258808, 0.965929, 0.000000, 0.000000);
	transform:matrix(0.965929, -0.258808, 0.258808, 0.965929, 0.000000, 0.000000);
}
.t21 {
	-webkit-transform:matrix(0.994399, -0.000000, -0.211381, 0.994399, 0.000000, 0.000000);
	-o-transform:matrix(0.994399, -0.000000, -0.211381, 0.994399, 0.000000, 0.000000);
	-ms-transform:matrix(0.994399, -0.000000, -0.211381, 0.994399, 0.000000, 0.000000);
	-moz-transform:matrix(0.994399, -0.000000, -0.211381, 0.994399, 0.000000, 0.000000);
	transform:matrix(0.994399, -0.000000, -0.211381, 0.994399, 0.000000, 0.000000);
}
.t23 {
	-webkit-transform:matrix(0.995310, -0.000000, -0.193469, 0.995310, 0.000000, 0.000000);
	-o-transform:matrix(0.995310, -0.000000, -0.193469, 0.995310, 0.000000, 0.000000);
	-ms-transform:matrix(0.995310, -0.000000, -0.193469, 0.995310, 0.000000, 0.000000);
	-moz-transform:matrix(0.995310, -0.000000, -0.193469, 0.995310, 0.000000, 0.000000);
	transform:matrix(0.995310, -0.000000, -0.193469, 0.995310, 0.000000, 0.000000);
}
.t16 {
	-webkit-transform:matrix(0.995310, -0.000000, -0.193463, 0.995310, 0.000000, 0.000000);
	-o-transform:matrix(0.995310, -0.000000, -0.193463, 0.995310, 0.000000, 0.000000);
	-ms-transform:matrix(0.995310, -0.000000, -0.193463, 0.995310, 0.000000, 0.000000);
	-moz-transform:matrix(0.995310, -0.000000, -0.193463, 0.995310, 0.000000, 0.000000);
	transform:matrix(0.995310, -0.000000, -0.193463, 0.995310, 0.000000, 0.000000);
}
.t7 {
	-webkit-transform:scale(1.010243, 0.989757);
	-o-transform:scale(1.010243, 0.989757);
	-ms-transform:scale(1.010243, 0.989757);
	-moz-transform:scale(1.010243, 0.989757);
	transform:scale(1.010243, 0.989757);
}
.t18 {
	-webkit-transform:scale(1.014778, 0.985222);
	-o-transform:scale(1.014778, 0.985222);
	-ms-transform:scale(1.014778, 0.985222);
	-moz-transform:scale(1.014778, 0.985222);
	transform:scale(1.014778, 0.985222);
}
.t5 {
	-webkit-transform:scale(1.024000);
	-o-transform:scale(1.024000);
	-ms-transform:scale(1.024000);
	-moz-transform:scale(1.024000);
	transform:scale(1.024000);
}
.t38 {
	-webkit-transform:scale(1.024390, 0.975610);
	-o-transform:scale(1.024390, 0.975610);
	-ms-transform:scale(1.024390, 0.975610);
	-moz-transform:scale(1.024390, 0.975610);
	transform:scale(1.024390, 0.975610);
}
.t4 {
	-webkit-transform:scale(1.024390, 0.975610);
	-o-transform:scale(1.024390, 0.975610);
	-ms-transform:scale(1.024390, 0.975610);
	-moz-transform:scale(1.024390, 0.975610);
	transform:scale(1.024390, 0.975610);
}
.t28 {
	-webkit-transform:matrix(1.042231, -0.000000, -0.202587, 0.947482, 0.000000, 0.000000);
	-o-transform:matrix(1.042231, -0.000000, -0.202587, 0.947482, 0.000000, 0.000000);
	-ms-transform:matrix(1.042231, -0.000000, -0.202587, 0.947482, 0.000000, 0.000000);
	-moz-transform:matrix(1.042231, -0.000000, -0.202587, 0.947482, 0.000000, 0.000000);
	transform:matrix(1.042231, -0.000000, -0.202587, 0.947482, 0.000000, 0.000000);
}
.t10 {
	-webkit-transform:scale(1.047619, 0.952381);
	-o-transform:scale(1.047619, 0.952381);
	-ms-transform:scale(1.047619, 0.952381);
	-moz-transform:scale(1.047619, 0.952381);
	transform:scale(1.047619, 0.952381);
}
.t25 {
	-webkit-transform:scale(1.047619, 0.952381);
	-o-transform:scale(1.047619, 0.952381);
	-ms-transform:scale(1.047619, 0.952381);
	-moz-transform:scale(1.047619, 0.952381);
	transform:scale(1.047619, 0.952381);
}
.t36 {
	-webkit-transform:scale(1.047619, 0.952381);
	-o-transform:scale(1.047619, 0.952381);
	-ms-transform:scale(1.047619, 0.952381);
	-moz-transform:scale(1.047619, 0.952381);
	transform:scale(1.047619, 0.952381);
}
.t33 {
	-webkit-transform:scale(1.069767, 0.930233);
	-o-transform:scale(1.069767, 0.930233);
	-ms-transform:scale(1.069767, 0.930233);
	-moz-transform:scale(1.069767, 0.930233);
	transform:scale(1.069767, 0.930233);
}
.t8 {
	-webkit-transform:scale(1.152000);
	-o-transform:scale(1.152000);
	-ms-transform:scale(1.152000);
	-moz-transform:scale(1.152000);
	transform:scale(1.152000);
}
.t35 {
	-webkit-transform:scale(1.209600);
	-o-transform:scale(1.209600);
	-ms-transform:scale(1.209600);
	-moz-transform:scale(1.209600);
	transform:scale(1.209600);
}
.t13 {
	-webkit-transform:scale(1.279962);
	-o-transform:scale(1.279962);
	-ms-transform:scale(1.279962);
	-moz-transform:scale(1.279962);
	transform:scale(1.279962);
}
.t39 {
	-webkit-transform:scale(1.280000);
	-o-transform:scale(1.280000);
	-ms-transform:scale(1.280000);
	-moz-transform:scale(1.280000);
	transform:scale(1.280000);
}
.t22 {
	-webkit-transform:scale(1.350333);
	-o-transform:scale(1.350333);
	-ms-transform:scale(1.350333);
	-moz-transform:scale(1.350333);
	transform:scale(1.350333);
}
.t11 {
	-webkit-transform:scale(1.536000);
	-o-transform:scale(1.536000);
	-ms-transform:scale(1.536000);
	-moz-transform:scale(1.536000);
	transform:scale(1.536000);
}
.t37 {
	-webkit-transform:scale(1.640000);
	-o-transform:scale(1.640000);
	-ms-transform:scale(1.640000);
	-moz-transform:scale(1.640000);
	transform:scale(1.640000);
}
.t9 {
	-webkit-transform:scale(1.814400);
	-o-transform:scale(1.814400);
	-ms-transform:scale(1.814400);
	-moz-transform:scale(1.814400);
	transform:scale(1.814400);
}
.t26 {
	-webkit-transform:scale(1.984000);
	-o-transform:scale(1.984000);
	-ms-transform:scale(1.984000);
	-moz-transform:scale(1.984000);
	transform:scale(1.984000);
}
.t20 {
	-webkit-transform:scale(2.016000);
	-o-transform:scale(2.016000);
	-ms-transform:scale(2.016000);
	-moz-transform:scale(2.016000);
	transform:scale(2.016000);
}
.t15 {
	-webkit-transform:scale(2.057649);
	-o-transform:scale(2.057649);
	-ms-transform:scale(2.057649);
	-moz-transform:scale(2.057649);
	transform:scale(2.057649);
}
.t17 {
	-webkit-transform:scale(2.078720);
	-o-transform:scale(2.078720);
	-ms-transform:scale(2.078720);
	-moz-transform:scale(2.078720);
	transform:scale(2.078720);
}
.t31 {
	-webkit-transform:scale(2.217600);
	-o-transform:scale(2.217600);
	-ms-transform:scale(2.217600);
	-moz-transform:scale(2.217600);
	transform:scale(2.217600);
}
.t6 {
	-webkit-transform:scale(2.280640);
	-o-transform:scale(2.280640);
	-ms-transform:scale(2.280640);
	-moz-transform:scale(2.280640);
	transform:scale(2.280640);
}
.t40 {
	-webkit-transform:scale(2.304000);
	-o-transform:scale(2.304000);
	-ms-transform:scale(2.304000);
	-moz-transform:scale(2.304000);
	transform:scale(2.304000);
}
.t19 {
	-webkit-transform:scale(2.368000);
	-o-transform:scale(2.368000);
	-ms-transform:scale(2.368000);
	-moz-transform:scale(2.368000);
	transform:scale(2.368000);
}
.t27 {
	-webkit-transform:scale(2.566802);
	-o-transform:scale(2.566802);
	-ms-transform:scale(2.566802);
	-moz-transform:scale(2.566802);
	transform:scale(2.566802);
}
.t2 {
	-webkit-transform:scale(2.630400);
	-o-transform:scale(2.630400);
	-ms-transform:scale(2.630400);
	-moz-transform:scale(2.630400);
	transform:scale(2.630400);
}
.t30 {
	-webkit-transform:scale(2.688000);
	-o-transform:scale(2.688000);
	-ms-transform:scale(2.688000);
	-moz-transform:scale(2.688000);
	transform:scale(2.688000);
}
.t12 {
	-webkit-transform:scale(2.816000);
	-o-transform:scale(2.816000);
	-ms-transform:scale(2.816000);
	-moz-transform:scale(2.816000);
	transform:scale(2.816000);
}
.t34 {
	-webkit-transform:scale(3.072000);
	-o-transform:scale(3.072000);
	-ms-transform:scale(3.072000);
	-moz-transform:scale(3.072000);
	transform:scale(3.072000);
}
.t32 {
	-webkit-transform:scale(3.164800);
	-o-transform:scale(3.164800);
	-ms-transform:scale(3.164800);
	-moz-transform:scale(3.164800);
	transform:scale(3.164800);
}
.t1 {
	-webkit-transform:scale(3.840000);
	-o-transform:scale(3.840000);
	-ms-transform:scale(3.840000);
	-moz-transform:scale(3.840000);
	transform:scale(3.840000);
}
.t3 {
	-webkit-transform:scale(4.198400);
	-o-transform:scale(4.198400);
	-ms-transform:scale(4.198400);
	-moz-transform:scale(4.198400);
	transform:scale(4.198400);
}
.t24 {
	-webkit-transform:scale(4.300800);
	-o-transform:scale(4.300800);
	-ms-transform:scale(4.300800);
	-moz-transform:scale(4.300800);
	transform:scale(4.300800);
}
.t29 {
	-webkit-transform:scale(5.184000);
	-o-transform:scale(5.184000);
	-ms-transform:scale(5.184000);
	-moz-transform:scale(5.184000);
	transform:scale(5.184000);
}
.t0 {
	-webkit-transform:scale(9.600000);
	-o-transform:scale(9.600000);
	-ms-transform:scale(9.600000);
	-moz-transform:scale(9.600000);
	transform:scale(9.600000);
}
.o0 {
	-webkit-transform-origin:0% 100%;
	-o-transform-origin:0% 100%;
	-ms-transform-origin:0% 100%;
	-moz-transform-origin:0% 100%;
	transform-origin:0% 100%;
}
.f0 {
	font-weight:normal;
	font-style:normal;
	font-family:"f0generic";
}

.f2 {
	font-weight:normal;
	font-style:normal;
	font-family:"f2generic";
}

.f1 {
	font-weight:normal;
	font-style:normal;
	font-family:"f1generic";
}

.f3 {
	font-weight:normal;
	font-style:normal;
	font-family:"f3generic";
}

.f7 {
	font-weight:normal;
	font-style:normal;
	font-family:"f7generic";
}

.f6 {
	font-weight:normal;
	font-style:normal;
	font-family:"f6generic";
}

.f4 {
	font-weight:normal;
	font-style:normal;
	font-family:"f4generic";
}

.f5 {
	font-weight:normal;
	font-style:normal;
	font-family:"f5generic";
}

.f8 {
	font-weight:normal;
	font-style:normal;
	font-family:"f8generic";
}

.f9 {
	font-weight:normal;
	font-style:normal;
	font-family:"f9generic";
}

