@font-face { font-style:normal; font-weight:normal; font-family:fnt3; src:url("./pdf2svg v2_fnt3.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt2; src:url("./pdf2svg v2_fnt2.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt0; src:url("./pdf2svg v2_fnt0.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt5; src:url("./pdf2svg v2_fnt5.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt4; src:url("./pdf2svg v2_fnt4.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt1; src:url("./pdf2svg v2_fnt1.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt7; src:url("./pdf2svg v2_fnt7.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt6; src:url("./pdf2svg v2_fnt6.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt8; src:url("./pdf2svg v2_fnt8.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt9; src:url("./pdf2svg v2_fnt9.otf") format("opentype"); }
